/* Style for the dropdown container */
.city-dropdown--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;

    @media only screen and (min-width: 1025px) {
      margin: 7rem;
    }
  }
  
  .custom-dropdown {
    position: relative;
    width: 250px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 10px 10px lightgray;
  }
  
  .custom-dropdown:hover {
    border-color: #007BFF;
  }
  
  .dropdown-selected {
    font-size: 1rem;
    color: #333;
  }
  
  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 2px solid #ccc;
    border-top: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-option {
    padding: 8px;
    font-size: 1rem;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-option:hover {
    background-color: #f1f1f1;
  }
  
  @media (max-width: 600px) {
    .custom-dropdown {
      width: 80%;
    }
  }
  