#weather-container {
    display: grid;
    justify-items: center;
    padding: 10px;
    margin: 0 auto;
    grid-template-columns: auto auto;
    grid-gap: 0.75rem;

    @media only screen and (min-width: 600px) {
      grid-gap: 1.5rem;
    }

    @media only screen and (min-width: 1025px) {
      display: flex;
    }
  }
  
  .weather--item {
    text-align: center;
    background-color: lightblue;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    box-shadow: 5px 10px 10px lightgray;
    width: 8rem;
    height: 7rem;

    @media only screen and (min-width: 768px) {
      width: 15rem;
      height: 7rem;
    }

    @media only screen and (min-width: 1025px) {
      width: 7rem;
      height: 7rem;
    }
  }
  
  .weather--day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .weather--type {
    font-size: 0.8rem;
    font-weight: normal;
    margin-bottom: 5px;
  }
  
  .weather--icon {
    font-size: 2.5rem;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    font-size: 0.75rem;
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    box-shadow: 5px 10px 10px lightgray;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.weather--date {
  font-weight: bold;
}

.weather--messages {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 20px;
  text-align: center
}
  